<mat-toolbar color="primary">
    <mat-toolbar-row>
      <span class="logo">HTML SUPPORT</span>
    
      <button mat-raised-button class="nav-button" routerLink="/uploadhtml">Feltöltés</button>
      <button mat-raised-button class="nav-button" routerLink="/controlPanel">Vizsgálat eredménye</button>
      <button mat-raised-button class="nav-button" routerLink="/html5funct">HTML5 funkciók</button>
      <button *ngIf="isAuth" mat-raised-button class="nav-button" routerLink="/aiHelp">AI segítség</button>
      <span class="spacer"></span>
      <button *ngIf="isAuth" mat-raised-button class="nav-button" (click)="logout()">Kilépés</button>
      <button mat-raised-button class="nav-button" routerLink="/login">Bejelentkezés</button>
    </mat-toolbar-row>
  </mat-toolbar>

