<div class="topBox">
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
       Statisztikák
      </mat-panel-title>

    </mat-expansion-panel-header>
    <div class="chartContainer">
        <div id="chart" class="chart">
          <h2>W3C és saját szabályok</h2>
          <apx-chart
            [series]="chartOptions.series"
            [chart]="chartOptions.chart"
            [labels]="chartOptions.labels"
            [responsive]="chartOptions.responsive"
          ></apx-chart>
        </div>
        <div id="typechart" class="chart">
          <h2>Találatok típusai</h2>
          <apx-chart
            [series]="typechartOptions.series"
            [chart]="typechartOptions.chart"
            [labels]="typechartOptions.labels"
            [responsive]="typechartOptions.responsive"
          ></apx-chart>
        </div>
      </div>

</mat-expansion-panel>


  <div class="errorTable">
    
    <table class="ownErrorTable">
        <tr>
          <th class="ownErrorName">Név</th>
          <th class="ownErrorPrio">Prioritás</th>
          <th class="ownErrorType">Típus</th>
          <th>Leírás</th>
        </tr>
        <tr 
        [ngClass]="{'error':item.type == 'error', 'warning':item.type == 'warning', 'info':item.type == 'info'}" 
        *ngFor="let item of this.resultTableData; let i = index "
        (click)="''">
          <td class="ownErrorName" >W3C</td>
          <td class="ownErrorPrio" >{{item.priority}}</td>
          <td class="ownErrorType" >{{item.type}}</td>
          <td>{{item.message}}</td>
        </tr>
        <div *ngFor="let item of this.errors">
          <tr 
          [ngClass]="{'error':value?.rule?.type == 'error', 'warning':value?.rule?.type == 'warning', 'info':value?.rule?.type == 'info'}"
          *ngFor="let value of item; let i = index "
          (click)="clickedRow(item)">
            <td class="ownErrorName" >{{value?.rule?.ruleName}}</td>
            <td class="ownErrorPrio" >{{value?.rule?.priority}}</td>
            <td class="ownErrorType" >{{value?.rule?.type}}</td>
            <td>{{value?.rule?.message}}</td>
          </tr>
      </div>
    </table>
  </div>
</div>
<div class="sideBox">
    <div class="smallContainer ownRulesContainer">
        <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                Saját szabályok
              </mat-panel-title>
              <button class="addbtn" mat-mini-fab color="accent" (click)="createRule()">
                <mat-icon>add</mat-icon>
              </button>
            </mat-expansion-panel-header>
        <table class="ruleTable">
          <header>
            <tr>
              <th class="checkBox"></th>
              <th class="ruleTableID">ID</th>
              <th class="ruleTableName">Szabályok</th>
              <th class="ruleTableDel">Törlés</th>
            </tr>
          </header>
          <div >
          <body [formGroup]="selectedRulesForm">
            <div >
           <tr *ngFor="let item of ownRules; let i = index" >
             <td class="checkBox"><mat-checkbox formControlName="{{i}}"></mat-checkbox></td>
             <td class="ruleTableID">{{i}}</td>
             <td class="ruleTableName">{{item.ruleName}}</td>
             <td class="ruleTableDel"><button mat-button (click)="deleteOwnRule(item)"><mat-icon>delete</mat-icon></button></td>
           </tr>
         </div>
         </body>
        </div>
        </table>
        </mat-expansion-panel>
    </div>

    <div class="smallContainer ownRulesContainer">
        <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                Szabálycsoportok
              </mat-panel-title>
              <button class="addbtn" mat-mini-fab color="accent" (click)="createRuleGroup()">
                <mat-icon>add</mat-icon>
              </button>
            </mat-expansion-panel-header>
            <table class="ruleTable">
              <header>
                <tr>
                  <th class="checkBox"></th>
                  <th class="ruleTableID">ID</th>
                  <th class="ruleTableName">Szabályok</th>
                  <th class="ruleTableDel">Törlés</th>
                </tr>
              </header>
              <body [formGroup]="selectedRuleGroupsForm">
                <tr *ngFor="let item of ownRuleGroups; index as i">
                  <td class="checkBox"><mat-checkbox formControlName="{{i}}"></mat-checkbox></td>
                  <td class="ruleTableID">{{i}}</td>
                  <td class="ruleTableName">{{item.groupName}}</td>
                  <td class="ruleTableDel"><button mat-button (click)="deleteOwnRuleGroup(item)"><mat-icon>delete</mat-icon></button></td>
                </tr>
              </body>
            </table>
        
            
        </mat-expansion-panel>
    </div>

    <div class="smallContainer ownRulesContainer">
        <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                Aktív szűrők
              </mat-panel-title>
            </mat-expansion-panel-header>
        
            <table class="activeRuleTable">
              <header>
                <tr>
                  <th class="ruleTableID">Típus</th>
                  <th class="ruleTableName">Szabályok</th>
                </tr>
              </header>
              <body>
                <tr *ngFor="let item of selectedOwnRules" >
                  <td class="ruleTableID">
                    <mat-icon>insert_drive_file</mat-icon>
                  </td>
                  <td class="ruleTableName">{{item.ruleName}}</td>
                </tr>
                <tr *ngFor="let item of selectedOwnRuleGroups">
                  <td class="ruleTableID">
                    <mat-icon>folder</mat-icon>
                  </td>
                  <td class="ruleTableName">{{item.groupName}}</td>
                </tr>
              </body>
            </table>
        </mat-expansion-panel>
    </div>
  <button mat-raised-button class="analyzeBtn" (click)="analyzeWithOwnRules()">Vizsgálat</button>
</div>

