.sideBox{
    margin-top:8px;
    padding-top:8px;
    background-color: #4f86ec;
    width: 300px;
    height: 88%;
    border-right: 2px solid rgb(0, 0, 0);
    border-top: 2px solid rgb(0, 0, 0);
    border-bottom: 2px solid rgb(0, 0, 0);
    display: flex;
    flex-direction: column;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
}

.topBox{
    margin-top:8px;
    position: absolute;
    left: 50px;
    height: 100px;
    width: calc(100% - 320px);
    left: 311px;


}

.smallContainer{
    width: 250px;
    height: 250px;
}
.addbtn{
    margin-right: 10px;
    height: 30px;
    width: 30px;
}

::ng-deep .htmlErrorDetailsClass .mdc-dialog__surface {
    background-color: rgb(230, 230, 230) !important;
 }

 .actionButtons {
    justify-content: flex-end; /* A gombok jobbra igazítása */
    margin-top: 20px; /* Távolság a tartalomtól */
  }
  
  .cancelButton {
    margin-right: 10px; /* Távolság a másik gombtól */
  }
  
  .installButton {
    margin-left: auto; /* A gomb jobbra tolása */
  }

  .errorTable{
    padding-top: 10px ;
  }

  .ruleTable{
    max-height: 174px;
    width: 100%;
    font-family: arial, sans-serif;
    border-collapse: collapse;
    overflow-y: auto;

  }
  .ruleTableID{
    width: 10%;
  }
  .ruleTableName{
    width: 70%;
  }
  .ruleTableDel{

  }

  tr {
    background-color: #dddddd3b;
  }
  
  tr:nth-child(odd) {
    background-color: #ffffff10;
  }
  header{
    border-bottom: solid white 2px;
  }


  .ownRulesContainer ::ng-deep .mat-expansion-panel-body{
    max-height: 165px;
    overflow: auto;
    padding-right: 10px;
    padding-left: 10px;
  }
