<div class="background">
<div class="container">
    <div class="upload-container">
      <h1 class="mainText">HTML SUPPORT</h1>
      <div class="upload-inside">
      <form class="example-form">
      <mat-form-field class="example-full-width">
        <mat-label>Illesszen be egy html szöveget, vagy töltsön fel egy fájlt </mat-label>
        <textarea type="text" [formControl]="favoriteColorControl" matInput placeholder="Ex. It makes me feel..."></textarea>
      </mat-form-field>
    </form>
    <mat-icon>upload</mat-icon>
    </div>
    <div class="button-container">
      <button mat-raised-button class="analysis-button" (click)="validateOnClick()">Elemzés</button>
    </div>
</div>
  </div>
</div>