<h2>{{data.rowData.name}} Hiba részletek</h2>
<div class="errorDetailsContainer">
    <div class="insideContainer">
        <h3>HTML forráskód részlet</h3>
    </div>
    <div class="insideContainer">
        <h3>Egy lehetséges javítás</h3>
    </div>
    <div class="insideContainer">
        <h3>ChatGPT segítségkérés</h3>
    </div>
</div>
<mat-dialog-actions align="end" class="actionButtons">
    <button mat-raised-button [mat-dialog-close]="true" cdkFocusInitial>kilépés</button>
  </mat-dialog-actions>
